//Colors
$white: #ffffff;
$white-100: #968dae;
$white-200: #666699;
$white-300: #33344d;
$white-400: #63537e;
$white-500: #e1e1e1;
$white-600: #968eae;

$danger: #c12900;
$success: #23ff00;
$bg-dark: #120f35;

$green: #31b742;
$yellow: #ffff00;
$red: #ff0000;
$light-grey: #bebebe;
$primary: #003aff;


$grey: #707070;
$violet: #3c0a5b;
$grey-400: #a0a0a0;



//Fonts
$font-lato: 'Lato', sans-serif;
//Font size
$font-medium: 1em;
