.footer-copy {
    border: none;
    border-top: 0;
    background: none;
    color: $positive;
    .title {
        font-size: 11px !important;
    }
}

.spacer {
    width: 300px;
    height: 30px;
}

.action-sheet-title {
    font-size: 18px;
}

.tab-item .icon {
    font-size: 30px;
    padding: 3px 0px;
}
