.report {
    .scroll-content {
        background-color: rgba(255, 255, 255, 0.5);
        margin-top: 80px;
        padding: 4px;
        .list {
            font-family: $font-lato !important;
            padding: 4px;
            .item {
                overflow: visible;
                margin-bottom: 40px;
                img {
                    max-width: 90px;
                    max-height: 80px;
                    top: 21%;
                }
                h2 {
                    margin-left: 10px;
                    font-size: 14px;
                    font-weight: 500;
                }
                h4 {
                    margin-left: 10px;
                    font-size: 13px;
                }
                p {
                    margin-left: 10px;
                    font-size: 12px;
                }
                hr {
                    margin-bottom: 15px;
                    width: 114%;
                    position: relative;
                    left: -30px;
                }
                .bottom-line {
                    position: absolute;
                    bottom: -30px;
                    overflow: visible;
                    width: 100%;
                    left: 0px;
                    i {
                        font-size: 1.1em;
                    }
                }
                .Submitted {
                    color: $assertive;
                }
                .Completed {
                    color: $success;
                }
                .Open {
                    color: $success;
                }
            }
        }
    }
}
