/* Empty. Add your own CSS if you like */

@import 'variable.scss';
html,
body {
    font-family: $font-lato !important;
}

.bg-ucux {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    //background: linear-gradient(rgba(20, 20, 20, .5), rgba(20, 20, 20, 6)), url(../../assets/images/bg.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.transparent {
    background: transparent;
}

.pane {
    background: url(../../assets/images/bg.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-logo {
    height: 26px;
    vertical-align: middle;
    max-width: 100px;
    margin-top: 3px;
    max-height: 30px;
}

.center {
    justify-content: center;
}

.bar.bar-stable {
    &.bar-header {
        background-color: transparent !important;
        border: none;
        background-image: none;
    }
    .title {
        line-height: 50px;
        color: $white;
        font-size: 1.5em;
    }
    .button {
        color: $white;
        font-size: 1.5em;
    }
    margin-top: 8px;
    .buttons-right {
        right: 10px;
    }
}

.popup-container {
    .popup {
        border-radius: 8px;
        .popup-title {
            font-size: 18px !important;
        }
        .button {
            min-height: 32px;
            height: 38px;
        }
    }
}

.flex {
    display: flex;
    align-items: center;
}

.uppercase {
    text-transform: uppercase;
}

.assertive {
    color: $danger !important;
}

.green {
    color: $green;
}

.font-13 {
    font-size: 13px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-11 {
    font-size: 11px !important;
}

.mb-5-min {
    margin-bottom: -5px !important;
}

.white {
    color: $white;
}

.no-border-r {
    border-right: none !important;
}

.no-border-b {
    border-bottom: none !important;
}

.width-25 {
    width: 25%;
}

.mv-30 {
    margin: 30px 0 !important;
}

.mv-10 {
    margin: 10px 0 !important;
}

.mt-10 {
    margin-top: 10px;
}

.title {
    margin-right: 20px !important;
    margin-left: 0 !important;
    font-size: 15px !important;
}

.transparent {
    background: transparent !important;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 50vh;
}


/* Fix modal backdrop for smaller devices */

@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }
    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

@-webkit-keyframes "pulse" {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.1);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}
